@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --width: 10000px;
    /* var(--width) */
}

/* FIRST PAGE  */
/* SECTION 1  */
#start {
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-items: center;
    font-size: 20px;
    text-align: center;
    border: 5px solid white;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/877/673/small/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#start h1 {
    animation: glow 900ms infinite alternate-reverse;
}

@keyframes glow {
    from {
        text-shadow: 0 0 19px rgb(255, 255, 255);
    }

    to {
        text-shadow: 0 0 7px rgb(10, 64, 88);
    }
}

#start .name {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    font-weight: 900;
}

#start .stinfo {
    color: #382828;
}

#start .btn-start {
    padding: 8px 56px;
    margin-top: 15px;
    font-family: cursive;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(251, 218, 255);
}

#start .btn-start:hover {
    background-color: rgb(252, 174, 255);
    transform: scale(1.05);
}


/* SECTION1 ENDS HERE  */
/* SECTION 2 WORLD BUILDING */
.absolute {
    position: absolute;
}

#gworld {
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    width: var(--width);
    background:
        linear-gradient(rgb(44, 155, 207) 0%,
            rgb(114, 180, 211) 58%,
            #169e1f 60%,
            #3cb043 100%);
}

.sun {
    padding: 60px;
    position: fixed;
    margin: 10px 10px;
    box-shadow: 0 0 30px orange;
    border: 2px solid rgba(255, 166, 0, 0.781);
    background-color: rgb(230, 230, 32);
    border-radius: 50%;
    z-index: 1;
}

.cloud {
    margin-top: 64px;
    width: 200px;
    left: -200px;
    height: 60px;
    background: white;
    border-radius: 100px;
    opacity: .90;
    z-index: 2;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 50%;
}


.cloud::before {
    width: 90px;
    height: 90px;
    top: -30px;
    left: 20px;
}

.cloud::after {
    width: 110px;
    height: 110px;
    top: -50px;
    right: 20px;
}


@keyframes movingcloud {
    from {
        transform: translateX(var(--width));
    }

    to {
        transform: translateX(-200px);
    }
}

.cloud1 {
    animation: movingcloud 60s linear infinite;
}

.cloud2 {
    animation: movingcloud 60s linear infinite;
    animation-delay: 10s;
}

.cloud3 {
    animation: movingcloud 60s linear infinite;
    animation-delay: 20s;
}

.cloud4 {
    animation: movingcloud 60s linear infinite;
    animation-delay: 30s;
}

.cloud5 {
    animation: movingcloud 60s linear infinite;
    animation-delay: 40s;
}

.cloud6 {
    animation: movingcloud 60s linear infinite;
    animation-delay: 60s;
}

.mountain {
    bottom: -30px;
    left: 100px;
    transform: rotate(45deg);
    background:
        radial-gradient(rgb(82, 34, 15) 0%,
            #804a19 100%);
    width: 400px;
    height: 400px;
    border: 2px solid rgb(107, 36, 23);
    box-shadow: 0 0 13px 1px rgb(207, 133, 84);
}

.ground {
    height: 175px;
    width: var(--width);
    bottom: 0px;
    z-index: 3;
    border-top: 3px solid black;
    /* filter: blur(1.5px); */
    background:
        repeating-linear-gradient(90deg,
            #af7137 0px,
            #af7137 60px,
            #794e27 60px,
            #794e27 120px)
}

#player {
    display: grid;
    bottom: 175px;
    height: 10px;
    left: 40px;
    z-index: 10;
}

#player .leg {
    display: flex;
}

#player .rleg {
    width: 10px;
    height: 100px;
    background: linear-gradient(transparent 0%,
            transparent 50%,
            #f70000 50%,
            #f70000 100%);
}

.walk1 {
    animation: walk 300ms linear 0s infinite alternate-reverse;
}

.walk {
    animation: walk 300ms linear 0s infinite alternate;
}

#player .lleg {
    margin-left: 15px;
    width: 10px;
    height: 100px;
    background: linear-gradient(transparent 0%,
            transparent 50%,
            #f70000 50%,
            #f70000 100%);
}

@keyframes walk {
    from {
        transform: rotatez(70deg);
    }

    to {
        transform: rotatez(-70deg);
    }
}

#player .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 50px;
    border: 2px solid black;
    height: 60px;
    z-index: 1;
    margin-top: -2px;
    margin-bottom: -53px;
    background: #ff0000;
}

#player .face {
    height: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(hakla-shahrukh-khan-sticker-removebg-preview\ \(1\).png);
    animation: vibrate 400ms linear 0s infinite alternate;
}

@keyframes vibrate {
    from {
        transform: rotate(8deg);
    }

    to {
        transform: rotate(-8deg);
    }
}

.ui-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    font-size: small;
}

.enemy {
    /* left: 100px;
    top: 100px; */
    border-radius: 50%;
    font-size: 50px;
    z-index: 10;
    width: 68.66px;
    height: 67px;
}

.paused * {
    animation-play-state: paused !important;
}

.enemyup {
    animation: up 5s ease-in-out 0s infinite alternate;
}

@keyframes up {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-300px);
    }
}

.enemyside1 {
    animation: side 5s ease-in-out 0s infinite alternate;
}

.enemyside2 {
    animation: side 5s ease-in-out 0s infinite alternate-reverse;
}

@keyframes side {
    from {
        transform: translateX(250px);
    }

    to {
        transform: translateX(-250px);
    }
}


.zi9 {
    z-index: 9;
}

.panel {
    height: max-content;
    min-width: max-content;
    z-index: 4;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.pintro {
    background: rgb(255, 249, 172);
    border: 3px solid black;
    border-radius: 22px;
    box-shadow: 15px 15px 14px 0px rgb(32, 32, 32);
}

.pday1 {
    background: rgb(144, 72, 146);
    border: 3px solid rgb(92, 87, 87);
    color: #c5b4a0;
    font-size: x-large;
    border-radius: 22px;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
    box-shadow: 15px 15px 14px 0px rgb(32, 32, 32);
}

.introspace {
    z-index: 4;
    /* left: 1420px; */
    width: max-content;
    background: transparent;
    top: 100px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.coin {
    border-radius: 50%;
    width: 61px;
    height: 60px;
    font-size: 30px;
    padding: 11px 10px 10px 13px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #aa6817;
    background: #fca131;
    color: #c5b4a0;
    animation: flip 2s linear 0s infinite alternate;
}

.coin.coincollect13 {
    position: relative;
    animation: quizflip 2s cubic-bezier(0.67, 0.43, 0.62, 0.92) forwards;
}
.coin.coincollect2 {
    position: relative;
    animation: quizflip1 2s cubic-bezier(0.67, 0.43, 0.62, 0.92) forwards;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(90deg);
    }
}

@keyframes quizflip1 {
    from {
        transform: translate(0, 0) rotateY(0deg) scale(1);
    }

    to {
        transform: translate(25vw, 20vh) rotateY(1400deg) scale(20);
    }
}
@keyframes quizflip {
    from {
        transform: translate(0, 0) rotateY(0deg) scale(1);
    }

    to {
        transform: translate(25vw, -20vh) rotateY(1400deg) scale(20);
    }
}

.flag {
    bottom: 175px;
    left: 9750px;
    z-index: 9;

}

.flagpole {
    height: 290px;
    width: 7px;
    background: #161616;
    border: 1px solid black;
}

.flagtri {
    height: 50px;
    width: 62px;
    background: #e60000;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
    margin-bottom: -50px;
    margin-left: 7px;
    animation: flagWave 1s infinite alternate;
}

@keyframes flagWave {
    from {
        transform: skewY(0deg);
    }

    to {
        transform: skewY(10deg);
    }
}

/*  POPUP BOX  */
#contactPopup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1010;
}

.popup-box {
    position: relative;
    max-width: 400px;
    max-height: 500px;
    background: rgb(255, 255, 92);
    border: 4px solid black;
    padding: 40px;
    box-shadow: 0px 0px 42px rgba(19, 19, 19, 0.767);
    text-align: center;
    border-radius: 22px;
}

.popup-box h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.popup-box p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* ===== INPUT FIELDS ===== */
.popup-box input,
.popup-box textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid rgba(177, 83, 76, 0.822);
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}

.popup-box textarea {
    height: 100px;
    resize: none;
}

.btn-submit {
    padding: 10px 30px;
    background: rgba(204, 158, 114, 0.562);
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}


.btn-close {
    padding: 3px 5px;
    position: absolute;
    right: 7px;
    top: 7px;
    background: rgba(221, 192, 95, 0.74);
    border-radius: 3px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.btn-close:hover,
.btn-submit:hover {
    background: rgb(124, 81, 40);
}



/* quiz round */

#quizgame {
    width: 100vw;
    height: 100vh;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
    backdrop-filter: blur(15px);
}

.qbox {
    width: 400px;
    min-height: 500px;
    height: fit-content;
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background: rgb(221, 172, 80);
    border-radius: 45px;
    border: 2px solid black;
    box-shadow: 0px 0px 50px 0px #ffffff;
    flex-direction: column;
}

.qbox .enc {
    font-size: xx-large;
    padding-top: 10px;
    color: rgb(255, 54, 54);
}

.qbox .denc {
    font-size: large;
    padding-top: 10px;
    margin-bottom: 22px;
    font-family: 'Times New Roman', Times, serif;
}


.question {
    font-size: 24px;
    margin-bottom: 25px;
}

.answers {
    width: 100%;
}

.qbtn {

    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    background: #ffffff22;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.qbtn:hover {
    background: #925e21;
}


#correction {
    /* margin-top: 10px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
}


#hacked {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 101;
    top: 0px;
    left: 0px;
    flex-direction: column;
}
@keyframes glitch {
    to{
        opacity: 0;
    }
}
.hackt {
    animation: glitch 120ms ease-in-out 100ms infinite ;
    font-size: xxx-large;
    color: red;
    text-shadow: 0px 0px 20px;
}

.refresh {
    animation: glitch  linear 100ms infinite ;
    margin-top: 10px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#thank {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    background: #161616e7;
    color: wheat;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}
